@import './../../styles/colorscheme.scss';

.wrapper {
        position: relative;
        display: block;
        height: 2px;
        border: 1px solid $black;
        background-color: $white;
        overflow: hidden;

        .progress {
                padding: 0px;
                margin: 0px;
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                height: 2px;
                width: 100%;
                background-color: $green;
        }

        .timeout-animation {
                animation: progress var(--progress-timeout) linear;
        }
}

@keyframes progress {
0% {
        transform: translateX(-100%);
}
100% {
        transform: translateX(0px);
}
}
