@import 'styles/colorscheme.scss';

.bottom-content {
        position: absolute;
        font-size: 0.8rem;
        padding: 0px;
        transform: translateY(-1.5rem);
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green;
        color: $black;
        height: 1.5rem;
        overflow: hidden;
        width: 100vw;
}
