@font-face {
        font-family: "SK Quadratica";
        src: url("/fonts/SK Quadratica Trial 400.ttf");
        font-weight: 400;
        font-style: normal;
}

@font-face {
        font-family: "Quadratic";
        src: url("/fonts/Quadratic - Demo.otf");
        font-weight: 400;
        font-style: normal;
}

@font-face {
        font-family: "Psilent";
        src: url("/fonts/Psilent.otf");
        font-weight: 400;
        font-style: normal;
}

@font-face {
        font-family: "Amazing Views";
        src: url("/fonts/Amazing Views.otf");
        font-weight: 400;
        font-style: normal;
}

@font-face {
        font-family: "Open Sauce Sans";
        src: url("/fonts/Open Sauce Sans/OpenSauceSans-Regular.ttf");
        font-weight: 400;
        font-style: normal;
}

@font-face {
        font-family: "Open Sauce Sans";
        src: url("/fonts/Open Sauce Sans/OpenSauceSans-Bold.ttf");
        font-weight: 700;
        font-style: bold;
}

@font-face {
        font-family: "OpenSauceSans";
        src: url("/fonts/Open Sauce Sans/OpenSauceSans-Regular.ttf");
        font-weight: 400;
        font-style: normal;
}

@font-face {
        font-family: "OpenSauceSans";
        src: url("/fonts/Open Sauce Sans/OpenSauceSans-Bold.ttf");
        font-weight: 700;
        font-style: bold;
}
